@import "tailwindcss";
@plugin "@tailwindcss/typography";

.code-screenshot {
    border-radius: 5px; 
    width: min(100%,700px); 
    margin:10px auto 10px auto; 
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}